.banner{
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 0px 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  h1{
    text-align: center;
    color: #32597a;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
@media (max-width: 425px){
  .banner{
    padding: 1em;
    background-size: contain;
    h1{
      font-size: 36px;
    }
  }
}