.mision{
  padding: 100px;
  .section-title{
    text-align: center;
  }
  .section-subtitle{
    text-align: center;
  }
  .sub-text{
    font-weight: 600;
    font-size: 26px;
    color: var(--primary);
  }
}
@media (max-width: 425px){
  .mision{
    padding: 5em 1em 1em 1em;
  }
}