.wrapper-simple-cards{
  .wrapper{
     padding: 2em 1em;
     box-shadow: 5px 5px 15px #b3bdcc, -5px -5px 15px #ffffff;
     border-radius: 8px;
     background-color: rgb(236, 236, 236);
     height: 100%;
     position: relative;
     transition: background-color 0.4s ease, transform 0.3s ease;
     .img{
       display: flex;
       justify-content: center;
       position: relative;
       margin-bottom: 2em;
     }
     p{
       color: var(--primary);
       font-family: var(--font-secondary);
       margin-bottom: 0px;
       transition: color 0.4s ease;
       font-size: 16px;
       text-align: center;
     }
     .title{
      font-weight: 600;
      margin-bottom: 1em;
      text-align: center;
     }
   }
}